
:root {
  --pink: #dd00ad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.contactLink {
  font-weight: bold;
  font-size: 20px;
}

.aboutMeBox {
  padding-bottom: 2rem;
}

.boldText {
  font-weight: bold;
}

.myNavLink {
  font-weight: bold;
  font-size: 28px;
}
.myNavLink:hover {
  color: var(--pink) !important;
}

#linkedIn-link:hover {
  color: var(--pink)
}

.pinkLink {
  font-size: 28px;
  font-weight: bold;
  color: var(--pink) !important;
}

.pinkLink-sm {
  font-size: 16px;
  font-weight: bold;
  color: var(--pink) !important;
}

.pinkLink:hover {
  color: black;
}

.publicationDate {
  font-weight: bold;
}

.customLinkStyle {
  letter-spacing: -0.02rem !important;
  line-height: 0.8 !important;
  margin: 0 !important;
}

.navLinkText {
  font-size: 45px;
}

@media screen and (width < 550px) {

  #main {
    display: block !important;
    overflow-y: scroll;
  }

  #publicationsPageBox {
    overflow-y: unset;
  }

  #aboutMePageBox{
    overflow-y: unset;
  }

  .myNavLink {
    font-size: 18px;
  }

  #navContents {
    height: auto;
    width: 100%;
  }

  #pageContents {
    height: auto;
    width: 100%;
  }

  .publicationLink {
    margin-top: 3rem !important;
  }

}
