
:root {
  --pink: #dd00ad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width:100vw;
  overflow-x: hidden;
}

#navContents, #pageContents {
  width: 100%;
}
#navContents {
  background-color: black;
  padding: 1rem 0 1rem 1rem;
}
.contactLink {
  font-weight: bold;
  font-size: 20px;
}

.aboutMeBox {
  padding-bottom: 2rem;
}

.boldText {
  font-weight: bold;
}

.myNavLink {
  font-weight: bold;
  font-size: 28px;
  display: inline-block;
}
.myNavLink:hover {
  color: var(--pink) !important;
}

#settings-link {
  display: block;
  width: fit-content;
}

#settings-link:hover {
  color:var(--pink);
}

#linkedIn-link {
  display: block;
  width: fit-content;
}

#linkedIn-link:hover {
  color: var(--pink)
}

.pinkLink {
  line-height: 2px;
  font-size: 28px;
  font-weight: bold;
  color: var(--pink) !important;
}

.pinkLink-sm {
  font-size: 16px;
  font-weight: bold;
  color: var(--pink) !important;
}

.pinkLink:hover {
  color: black;
}

.publicationDate {
  font-weight: bold;
}

.customLinkStyle {
  letter-spacing: -0.02rem !important;
  line-height: 0.8 !important;
  margin: 0 !important;
}

.navLinkText {
  font-size: 45px;
}

#publicationsPageBox {
  padding-bottom: 4rem;
}

#aboutMePageBox {
  padding-bottom: 4rem;
}

.pink-button {
  color:white !important;
  background: var(--pink) !important;
}

#intro {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (width < 550px) {
  #navContents {
    width: 100%;
  }

  #pageContents {
    width: 100vw;
    padding: 0;
    margin: 0 auto;
  }

  #main {
    display: inline-block;
    overflow-y: scroll;
  }

  #publicationsPageBox {
    overflow-y: unset;
    padding-bottom: 4rem;
    height: auto;
  }

  #aboutMePageBox{
    overflow-y: unset;
    padding-bottom: 4rem;
    height:auto;
  }

  .myNavLink {
    font-size: 18px;
  }

  #navContents {
    display: block;
    height: auto;
    margin: 0 auto;
  }

  .publicationLink {
    margin-top: 3rem !important;
  }

  #newPublicationCard {
    margin: 0 auto;
    width: auto;
  }

  #welcomeMessage {
    text-align: center;
    font-size: 20px;
  }

  #featuredBox {
    display: none;
  }

  #mobileBox {
    display: inline-block;
  }

  .myNavLink {
    padding: 0.25rem 0 0.25rem 0;
  }
}
